.statistic-container{
    margin-block:100px;
    .section-1{
        display: flex;
        gap: 90px;
        padding-inline: 13%;
        .cart{
            h1{
                color:#252B42;
                font-family: Playfair Display;
                font-size: 80px;
                font-style: normal;
                font-weight: 500;
                line-height: 90px;
                letter-spacing: 0.2px;
            }
            p{
                color: #737373;
                font-family: Playfair Display;
                font-size: 17px;
                font-weight: 700;
                line-height: 26px;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .statistic-container{
        .section-1{
            flex-direction: column;
            text-align: center;
        }
    }
}